/* reset */
html,
body {
  overflow: hidden;
  height: 100%;
}

body {
  margin: 0;
  background-color: beige;
  background-image: url('https://firebasestorage.googleapis.com/v0/b/journey-study.appspot.com/o/journeyBackgroundImg1.png?alt=media&token=a6bbc6ad-c4fc-47e3-a7bf-295bc0439802');
}

/* //reset */
/* layout */
#root {
  width: 375px;
  height: 100%;
  margin: 0 auto;
}

#root .MainContent {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0 auto;
}

#root .Content {
  overflow: auto;
  width: 100%;
  height: 100%;
  background-color: floralwhite;
}

/* //layout */

/* PC(1024 ~) */

/* Tablet(768 - 1024) */
/* @media screen and (max-width: 1024px) {
  #root {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  #root {
    width: 375px;
  }
} */

/* Mobile(375 - 450) */
@media screen and (max-width: 450px) {
  #root {
    width: 100%;
  }
}

/* Mobile(375) */
@media screen and (max-width: 375px) {
  #root {
    width: 100%;
    min-width: 320px;
  }
}
